.todoListItemAdd {
  margin-top: 5px;
}

.from-control {
  margin-right: 5px;
  flex-grow: 1;
  width: 224px;
  padding: .375rem .75rem;
  /* vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px black solid;
  */
}