.search-input {
  width: auto;
  flex-grow: 1;
  width: 224px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px grey solid;
  padding: .375rem .75rem;
}

input:focus, textarea:focus, select:focus {
  outline-offset: none;
}

:focus {
  outline: none;
}